.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 150px;
}
.about_title{
    position: relative;
}
.about_title h1{
    font-weight: 600;
    font-size: 60px;
    padding: 0 30px;
}
.about_title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about_sections{
    display: flex;
    gap: 80px;
}
.about_right{
    display: flex;
    flex-direction: column;
    gap:80px;
}
.about_left img{
    height: 400px;
}
.about_para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}
.about_skills{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about_skill{
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s;
}
.about_skill p{
    min-width: 150px;
    font-weight: 500;
    font-size: 20px;
}
.about_skill hr{
    outline: none;
    border: none;
    height: 8px;
    width: 50%;
    background: linear-gradient(267deg,#DA7c25 0.36%,#b923e1 102.06%);
    border-radius: 50px;
}
.about_achievements{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 80px;
}
.about_achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about_achievement h1{
    background: linear-gradient(267deg,#DA7c25 0.36%,#b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
}
.about_achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
/* ===================responsive============== */
@media (max-width:768px) {
.about{
    gap: 80px;
    margin: 50px 30px;
    
    align-items: start;
}
.about_title h1{
    padding: 0;
    font-size: 50px;
}
.about_title img{
    width: 120px;
    right: -20px;
}
.about_sections{
    flex-direction: column;
}
.about_left{
    display: none;
}
.about_para{
    font-size: 18px;
    line-height: 32px;
}
.about_skills{
    gap: 20px;
}
.about_skills p{
    font-size: 20px;
}
.about_skills hr{
    height: 6px;
}
.about_achievements{
    justify-content: space-between;
}
.about_achievement{
    gap: 8px;
}
.about_achievement h1{
    font-size: 28px;
}
.about_achievement p{
    font-size: 14px;
}

}